
body{
    background-image: url("https://media.istockphoto.com/vectors/vector-royal-object-mirror-vector-id1049354390?k=20&m=1049354390&s=612x612&w=0&h=H8Kjue2OWOc5A4LYjraCllgIMGhx35bweWgGGJJKGpU=");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 80%;
    background-color:black;
}
